<form action='/admin' method='post' >
  <input type="text" name='username' placeholder="username" autofocus />
  <input type="text" name='password' placeholder="password"/>
  <br/><br/>
  <button class="btn btn-primary" type='submit' value='login'> Login</button>
</form>


<div>
	<%= @file %>
</div>

<%= @denied %>