<form action='/admin' method='post' >
  <input type="text" name='username' placeholder="username" autofocus />
  <input type="text" name='password' placeholder="password"/>
  <br/><br/>
  <input class="btn primary" type='submit' value='login' />
</form>


<div>
	<%= @file %>
</div>

<%= @denied %>